.contactForm .tfuse_captcha_reload{
    background-image: url(../images/reload.png) !important;
    background-repeat: no-repeat !important;
    height: 18px !important;
    margin-top: 15px !important;
    max-width: 16px !important;
    vertical-align: top;
    background-color: transparent !important;
    border:none !important;
    padding: 10px !important;
}
.checkbox+.checkbox{
    margin-top: 10px;
    margin-bottom: 10px;
}
.contactForm .radiobox label{
    margin-left: 5px;
}
.contactForm .captcha .tfuse_captcha_input{
    margin-top: 5px;
}
.contactForm .contact_submit .button{
    display: block;
    height: 34px;
    line-height: 26px;
    padding-left: 25px;
    padding-right: 0;
    background: url(../../../../../images/icons/link-arrow-small.png) no-repeat 15px 10px;
    color: #fff;
    border: 0;
}
.contactForm .contact_submit{
    display: inline-block;
    zoom: 1;
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-transform: uppercase;
    padding-right: 20px;
    font-size: 12px;
    color: #fff;
    background: #000;
    opacity: 0.55;
}
.contactForm .contact_submit:hover{
    opacity: 0.8;
}
.contactForm .radiobox,.contactForm .checkbox{
    margin-right: 20px;
}
.contactForm .radiobox.omega,.contactForm .checkbox.omega{
    margin-right: 0;
}
.col-sm-6  .contactForm .reset_form{
    margin-top: -34px;
}
#Contact .inner{
    padding: 210px 0 120px;
}
.contactForm #sending{
    float: left;
}
.contactForm .multicheckbox input{

}
/* preview */
#TB_ajaxContent .contactForm .label_title{
    display: block;
}
#TB_ajaxContent .contactForm .pull-left{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
#TB_ajaxContent .contactForm .pull-left.omega{
    margin-right: 0;
}
#TB_ajaxContent .contactForm .reset_form{
    float: right;
    color: #8F530A;
    font-size: 11px;
    text-transform: uppercase;
    margin-right: 40px;
    text-decoration: none;
    font-weight: 700;
}
#TB_ajaxContent .contactForm .field_submit{
    margin-top: 20px;
}
#TB_ajaxContent .contactForm{
    margin-top: 20px;
}
#TB_ajaxContent .contactForm .inputField,#TB_ajaxContent .contactForm .textareaField,#TB_ajaxContent .contactForm .checkbox{
    background: #fff !important;
}
#TB_ajaxContent .contactForm select{
    height: 28px;
}
#TB_ajaxContent .contactForm .radiobox .multicheckbox{
    margin-top: 8px;
}