@media screen and (min-width:280px) and (max-width:767px) {
    .container {
        width:100%;
        padding:0 10px;
    }

    .row {
        margin-right: -10px;
        margin-left: -10px;
    }

    h4.author-description {
        width:100%;
    }

    h2.title,
    .section.first h2.title{
        font-size:49px;
        margin-bottom:35px;
        line-height: 55px;
    }

    .introduction {
        margin-bottom:35px;
    }

    .myWork .slide-img {
        max-width: 100%;
    }
    .myWork .item .oblique_image{
        display: none;
    }
    .post-category .carousel-control.right, .post-category .carousel-control.left, .carousel-control.right, .carousel-control.left{
        top: -115px;
    }
    .services-carousel .aslant-line-left, .services-carousel .aslant-line-right{
        display: none;
    }
    .widget-category{
        width: 90%;
    }
    .author-img .aslant-line-left{
        display: none;
    }
    .contact_map .map-aslant-line{
        display: none;
    }

    .myWork .slide-text {
        width:100% !important;
        padding-top:0 !important;
    }

    .section .inner {
        padding:160px 0;
    }

    .section-ico {
        width:220px;
        height:220px;
        margin-left:-110px;
        top:-110px;
    }

    .myWork .slide-text h2.slide-title {
        font-size:24px;
        margin-bottom:15px;
    }

    .blog-posts .carousel-indicators li{
        text-align: center;
    }

    .color-bg {
        width:100px;
        top:60px;
    }

    .myworks-section .mini-title,
    h5.mini-title {
        bottom:40px;
        width:192px;
        font-size:13px;
    }

    .myWork .slide-text h2.slide-title {
        font-size:21px;
    }

    .author-description {
        margin-top:60px;
    }

    .author-img {
        width:100%;
        margin-bottom:30px;
    }

    .author-img .aslant-line-left {
        right: -6px;
        top: -24px;
        width: 78px;
    }

    .author-text {
        width:100%;
        text-align: center;
    }

    a.link-download {
        margin-right:0
    }

    article.post-item {
        margin-bottom:35px;
    }

    .myWork .item.img2 ,
    .myWork .item.img1,
    .myWork .item.img3 {
        padding-top:0;
    }

    #Contact .inner {
        padding: 140px 0 120px;
    }

    .contact-section .contact_map {
        margin-left:0;
    }

    .contact-section .map {
        max-width:100%;
    }

    .contact_form .field_text, .contact_form .field_select,
    .contact_form input.inputField{
        width:100%;
        max-width: 273px;
    }

    .cusel {
        width:100% !important;
    }

    .footer_nav ul {
        width:100%
    }

    .footer_nav ul li {
        margin-right:48px;
    }

    .myWork .item {
        height:450px;
    }

    #respond .field_text {
        margin-right:30px;
    }

    #respond .field_text,#respond .field_text .inputtext, input.inputField {
        width:100%;
    }

    .comment_avatar {
        display:none;
    }

    .comment {
        padding:0;
    }
    .children li {
        padding-left:15px;
    }

    .comment_text,
    .children .comment_text,
    .children .children .comment_text {
        width:100%;
    }

    #Works .mini-title {
        bottom: 40px;
    }
    .services-carousel .carousel-footer a {
        padding: 5px 60px 5px 50px;
    }
    .author-img .aslant-line-left {
        right: -9px;
    }
    .contactForm .field_textarea .textarea{
        max-width: 273px;
    }
    .contactForm input.inputField{
        width: 100% !important;
    }
    .footer_nav ul {
        max-width: 285px;
    }
    .footer_nav ul li {
        margin-right: 30px;
    }
    .children .children .children .comment_text {
        width: 200px;
    }
    .children .children #respond .inputtext {
        width: 214px;
    }
    .children .children .children #respond .inputtext {
        width: 198px;
    }
    .widget-category {text-align:center; float: none !important;}
}

@media screen and (min-width:280px) and (max-width:320px) {
    .myWork .item.img1 img{
        margin-left: 10px;
    }
    .services-carousel .carousel-footer .button{
        padding-left: 30px;
    }
    .services-carousel .carousel-inner>.item {
        padding: 0;
    }
    .comment-form .field_text .inputtext{
        width: 271px;
    }
    .comment_body .comment-form .field_text .inputtext{
        width: 242px;
    }
    .children .comment_body .comment-form .field_text .inputtext{
        width: 228px;
    }
    .children .children .comment_body .comment-form .field_text .inputtext{
        width: 212px;
    }

    .carousel-control .icon-prev, .carousel-control .icon-next{
        height: 30px;
    }
    .carousel-control.left{
        left: -14px;
    }
    .post-category .carousel-control.left{
        left: -18px;
    }
    .post-category .carousel-control.right {
        right: -5px;
    }
    .services-carousel .carousel-control.right, .carousel-control.right{
        right: 0;
    }
    .post-category .carousel-control.right, .post-category .carousel-control.left, .carousel-control.right, .carousel-control.left{
        top: -140px;
    }
}

@media screen and (min-width:480px) and (max-width:767px) {


    .navmenu li {
        min-width:80px;
    }

    .myWork .item {
        height:350px;
    }

    .author-img {
        width:350px;
        float:none !important;
        margin: 0 auto 40px;
    }

    .author-img .aslant-line-left {
        width:auto;
        right: -9px;
        top: -35px;
        display: block;
    }

    .contact_form .field_text,
    .contact_form .field_select {
        width:48%;
        margin-right:18px;
    }

    .contact-section .contact_map {
        width:350px;
        margin:30px auto 0;
    }

    .contact_form {
        margin-top: 20px;}

    #respond .field_text {
        width:46%;
    }

    .myWork .item.img1 .slide-img{
        margin-right: 16%;
    }
    .widget-category{
        width: 75%;
    }
    .comment-form .field_text .inputtext{
        width: 240px;
    }
    .comment_body .comment-form .field_text .inputtext{
        width: 225px;
    }
    .children .comment_body .comment-form .field_text .inputtext{
        width: 218px;
    }
    .children .children .comment_body .comment-form .field_text .inputtext{
        width: 210px;
    }

    .carousel-control .icon-prev, .carousel-control .icon-next{
        height: 50px;
    }
    .carousel-control.left{
        left: -14px;
    }
    .post-category .carousel-control.left{
        left: -18px;
    }
    .post-category .carousel-control.right {
        right: -5px;
    }
    .services-carousel .carousel-control.right, .carousel-control.right{
        right: 0;
    }
}

@media screen and (min-width:768px)  and (max-width:989px) {

    .row {
        margin-right: -5px;
        margin-left: -5px;
    }

    .section .inner {
        padding:170px 0;
    }

    #Contact .inner {
        padding:170px 0 120px;
    }

    /*SLIDERS*/

    .myWork .img1 .slide-img {
        width: 200px;
        padding-top: 32px;
    }

    .myWork .img1 .slide-text {
        width: 445px;
        padding-top: 10px;
    }

    .myWork .item .aslant-line {
        margin-top: 70px;
        width: 83px;
    }

    .myWork .item.img2 {
        padding-top:0;
    }

    .myWork .img2 .slide-img {
        width: 549px;
        margin-left: -169px;
        padding-top: 50px;
    }

    .myWork .img2 .slide-text {
        width: 360px;
    }

    .myWork .img3 .slide-text {
        width: 347px;
        padding-top: 0;
    }

    .myWork .img3 .slide-img {
        width: 375px;
    }

    .myWork .slide-text h2.slide-title {
        margin-top:10px;
    }

    .myWork .item {
        height:420px;
    }

    .services-carousel .service-img .aslant-line-left, .services-carousel .service-img .aslant-line-right{
        width:83px;
    }

    /* AUTHOR DESCRIPTION */

    .author-img {
        width:300px;
    }

    .author-text {
        width: 410px;
        padding-top: 0;
    }

    .author-img .aslant-line-left {
        width:85px;
    }

    .col-line {
        display:none;
        visibility: hidden;

    }

    .contact-section .contact_map {
        margin-left:10px;
        padding-top:35px;
    }

    .map-aslant-line {
        top:0;
    }

    .contact_form .field_text,
    .contact_form .field_select,
    .contact_form input.inputField{
        width:100%;
    }

    .col-sm-6 .contactForm .inputtext {
        width:100% !important;
    }

    .cusel {
        width:100% !important
    }

    .add-comment .field_text .inputtext, input.inputField {
        width: 350px;
    }
    .comment_body .add-comment .inputtext {
        width: 280px;
    }
    .children .add-comment .inputtext {
        width: 230px;
    }
    .children .children .add-comment .inputtext {
        width: 180px;
    }
    .children .children .add-comment #submit {
        padding-right: 10px;
    }

    .comment_text {
        width:240px;
    }

    .children .comment_text {
        width:190px;
    }

    .children .children .comment_text {
        width: 140px;
    }

    .children .children .children .comment_text {
        width: 216px;
    }

    .widget-contacts span {
        font-size:14px;
    }

    .myWork .img5 .slide-img {
        width:275px;
    }

    .myWork .img5 .slide-text {
        width:465px;
    }

    .comment_avatar {
        margin-right:10px;
    }

    #respond .field_text .inputtext, input.inputField {
        width:218px;
    }

    #respond .field_text {
        margin-right:40px;
    }

    .myWork .img4 .slide-text {
        width:440px;
    }

    .myWork .img4 .slide-img {
        width:300px;
    }

    .myWork .img4 .aslant-line {
        left: -8px;
    }

    .contactForm textarea{
        max-width: 350px;
    }
    .post_section .inner{
        padding-left: 15px;
        padding-right: 15px;
    }
    #respond .comment-form .field_textarea textarea{
        max-width: 477px;
    }
    .comment #respond .field_text .inputtext{
        width: 182px;
    }
    .comment .children #respond .field_text .inputtext{
        width: 157px;
    }
    .comment .children .children #respond .field_text .inputtext{
        width: 132px;
    }
    .comment .children .children .children #respond .field_text .inputtext{
        width: 107px;
    }
    .comment-form, li.comment{
        max-width: 478px;
    }

    .carousel-control .icon-prev, .carousel-control .icon-next{
        height: 30px;
    }
    .carousel-control.left {
        left: -8px;
    }
    .post-category .carousel-control.left {
        left: -34px;
    }
    .post-category .carousel-control.right {
        right: -396px;
    }
    .services-carousel .carousel-control.right, .carousel-control.right {
        right: -5px;
    }
    .myWork .item{
        padding-left: 10px;
    }

    .carousel-control .icon-prev, .carousel-control .icon-next {
        height: 50px;
    }
    .services-carousel .carousel-control.right, .carousel-control.right{
        right: -20px;
    }
    .services-carousel .carousel-control.right, .services-carousel .carousel-control.left {
        top: 115px;
    }
    .post-category .carousel-control.right{
        right: -412px;
    }
    .carousel-control.left{
        left: -24px;
    }
}

@media screen and (width:480px) {

    .contactForm .field_textarea .textarea{
        max-width: 432px;
    }
    .contactForm .field_text{
        width: 204px;
    }
    .children .children .children .comment_text{
        width: 358px;
    }
    .children .children #respond .inputtext,.children .children #respond .field_text{
        width: 170px;
    }
    .children .children .children #respond .inputtext,.children .children .children #respond .field_text{
        width: 164px;
    }
    .services-carousel .carousel-inner>.item {
        padding: 0;
    }
    .comment-form .field_text .inputtext{
        width: 183px;
    }
    .comment_body .comment-form .field_text .inputtext{
        width: 168px;
    }
    .children .comment_body .comment-form .field_text .inputtext{
        width: 160px;
    }
    .children .children .comment_body .comment-form .field_text .inputtext{
        width: 153px;
    }
}

@media screen and (width:568px) {
    .contact_form .field_text, .contact_form .field_select{
        width: 224px;
    }
    .contactForm .field_textarea .textarea{
        max-width: 465px;
    }
    .contactForm .field_submit{
        max-width: 88%;
    }
    .comment-form .field_text .inputtext{
        width: 226px;
    }
    .comment_body .comment-form .field_text .inputtext{
        width: 212px;
    }
    .children .comment_body .comment-form .field_text .inputtext{
        width: 204px;
    }
    .children .children .comment_body .comment-form .field_text .inputtext{
        width: 197px;
    }
}

@media screen and (width:1024px){
    .comment_text {
        width:414px;
    }
    .children .comment_text {
        width:364px;
    }
    .children .children .comment_text {
        width: 320px;
    }
    .carousel-control .icon-prev, .carousel-control .icon-next{
        height: 50px;
    }
    .services-carousel .carousel-control.right, .carousel-control.right{
        right: -28px;
    }
    .services-carousel .carousel-control.right, .services-carousel .carousel-control.left {
        top: 115px;
    }
    .post-category .carousel-control.right{
        right: -440px;
    }
    .carousel-control.left{
        left: -31px;
    }
}

@media screen and (width:768px) {
    .carousel-control .icon-prev, .carousel-control .icon-next{
        height: 30px;
    }
    .services-carousel .carousel-control.right, .carousel-control.right{
        right: -5px;
    }
    .services-carousel .carousel-control.right, .services-carousel .carousel-control.left {
        top: 115px;
    }
    .post-category .carousel-control.left {
        left: -18px;
    }
    .post-category .carousel-control.right{
        right: -395px;
    }
    .carousel-control.left{
        left: -8px;
    }
}

@media screen and (width:360px) {
    .carousel-control .icon-prev, .carousel-control .icon-next{
        height: 30px;
    }
    .services-carousel .carousel-control.right, .carousel-control.right{
        right: -2px;
    }
    .services-carousel .carousel-control.right, .services-carousel .carousel-control.left {
        top: 115px;
    }
    .post-category .carousel-control.left {
        left: -14px;
    }
    .post-category .carousel-control.right{
        right: -5px;
    }
    .carousel-control.left{
        left: -12px;
    }
}